
/db.sqlite3
/venv/
/blog/templates/blog/navbar.html
/blog/templates/blog/snippet.html
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
/blog/templates/blog/base_.html
/users/templates/users/test*
/blog/templates/blog/tes*
/blog/facebook.py
/.env
.idea/
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
