{% extends 'blog/base.html' %}
{% block content %}
{% if category_posts %}
    <h3>Posty dla kategorii: {{ category }}</h3>
         {% for post in category_posts %}
            <div class="blog-item">
                <h3><a href="{% url 'post-detail' post.pk %}">{{ post.title }} </a></h3>
                <div class="info">
                {{ post.author }} - {{ post.created_date|date:"d F, Y" }}
                <a href="{% url 'category-post' post.category %}" >{{ post.category }}</a>
                </div>
                <p>
                    {{ post.text|truncatewords:30|safe }}
                    <a href="{% url 'post-detail' post.pk %}">czytaj dalej </a>
                </p>
            </div>
        {% endfor %}
{% else %}
    <div>
        <h3>Brak postów</h3>
    </div>
{% endif %}

{% endblock %}

