{% extends 'blog/base.html' %}
{% block title %}
    Newsletter
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
     {% if messages %}

        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}
  <h3>Napisz do nas </h3>
    <hr>
    <div class="mb-3">
        <form method="POST" >
            {% csrf_token %}
            {{ form|crispy }}<br>
            <button type="submit" class="btn btn-secondary">Wyślij</button>
        </form>
    </div>
{% endblock %}



