{% extends 'blog/base.html' %}
{% block content %}
<ul>
    {% for post in object_list %}
        <div id="{{ post.pk }}">
            <h3><a href="{% url 'post-detail' post.pk %}">{{ post.title }} </a></h3>
            {{ post.author }} - {{ post.published_date|date:"d F, Y" }}
            <a href="{% url 'category-post' post.category %}" >{{ post.category }}</a>
            <div >
                {{ post.text|slice:"300"|safe }}
            </div>
        </div>
    {% endfor %}
</ul>
{% endblock %}

