{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}

                <div class="col-12">
                <h3><a class="text-dark"  href="{% url 'post-detail' post.pk %}">{{ post.title }} </a></h3>
                </div>

                <div class="text-muted mb-3">
                {{ post.author }} - {{ post.created_date|date:"d F, Y" }}
                <a class="text-dark" href="{% url 'category-post' post.category.id %}" >{{ post.category }}</a>
                </div>

                <div class="col-12">
                <p>{{ post.content|truncatewords:30|safe }}
                    <a class="text-dark" href="{% url 'post-detail' post.pk %}">czytaj dalej </a>
                </p>
                </div>


    {% endfor %}
{% endblock %}

