{% extends 'blog/base.html' %}
{% block title %}
    Dodaj nowy wpis
{% endblock %}
{% block content %}

{% if user.is_authenticated %}

    <h3>Dodaj wpis </h3>
    <br>
    <div class="mb-3">
        <form method="POST" >
            {% csrf_token %}
            {{ form }}<br>
            <button type="submit" class="btn btn-secondary">Dodaj wpis</button>
            <button type="submit" class="btn btn-secondary">Send message</button>
        </form>
    </div>
{% else %}
    Nie jesteś zalogowany
{% endif %}

{% endblock %}