{% extends 'blog/base.html' %}
{% block title %}
    Edycja postu
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
     {% if messages %}
        <div class="alert alert-secondary" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </div>
    {% endif %}
    <h3>Edycja postu </h3>
    <br>
    <div class="mb-3">
        <form action="{{ post.id }}" method="POST" >
            {% csrf_token %}
            {{ form }}<br>
            <button type="submit" class="btn btn-secondary">Update</button>
        </form>
    </div>

{% else %}
    Nie jesteś zalogowany
{% endif %}

{% endblock %}