{% extends 'blog/base.html' %}
{% block content %}

    {% for post in posts %}
        <div class="col-12">
            <h3><a class="text-dark"  href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h3>
        </div>

        <div class="text-muted mb-3">
                {% if user.is_authenticated and post.author == user%}
                    {% if post.status == 'publish' %}
                        Opublikowany przez:
                    {% else %}
                        Szkic:
                    {% endif %}
                 {% endif %}
                <a class="text-dark" href="{% url 'post-users' post.author.username %}" > {{ post.author }}</a>
                 - {{ post.created_date|date:"d F, Y" }}
                <a class="text-dark" href="{% url 'category-post' post.category.name %}" >{{ post.category }}</a>
        </div>
        <div class="col-12">
            <p>{{ post.content|truncatewords:30|safe }}
                <a class="text-dark" href="{% url 'post-detail' post.pk %}">czytaj dalej </a>
            </p>
        </div>
    {% endfor %}

        <div class="row py-2 justify-content-center">
          <div class="col-md-8">
            {% include 'blog/pagination.html' %}
          </div>
        </div>
{% endblock %}