{% extends 'blog/base.html' %}
{% block title %}
    Usunięcie postu
{% endblock %}
{% block content %}

{% if user.is_authenticated %}
     {% if messages %}
        <div class="alert alert-danger" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
        </div>
    {% endif %}


    <h4> Usunać post {{ post.title }} ? </h4>
    <br>
    <div class="mb-3">
        <form method="POST" >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Tak, usuń post</button>
            <a class="btn btn-secondary" href="{% url 'post-detail' post.id %}">Powrót</a>
        </form>
    </div>
{% else %}
    Nie jesteś zalogowany
{% endif %}

{% endblock %}